* {
    font-family: sans-serif;
    align-items: center;
    text-align: center;
    color: rgb(55, 55, 55);
}

.b {
    background-color: rgb(135, 135, 135);
}

.fil {
    background-color: rgb(206, 206, 206);
    border: none;
    border-radius: 15px;
    box-shadow: 1px 1px 15px 1px;
    width: 500px;
    position: absolute;
    left: 500px;
    top: 200px;
    height: 40%;
}

.inputt,
.inputn {
    width: 300px;
    margin: 15px;
    border-radius: 15px;
}

button {
    width: 100px;
    border-radius: 15px;
    background-color: rgb(97, 97, 124);
    color: white;
}

.f {
    text-transform: uppercase;
    margin-top: 50px;
    box-shadow: 2px 2px 10px 2px;
    width: 500px;
    position: relative;
    left: 500px;
    border-radius: 15px;
    background-color: rgb(211, 211, 211);
}